@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333333;
    font-size: 0.875rem;
    position: relative;
    min-height: 100vh;
}

a {
    color: #333333;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.content {
    padding-top: 120px;
    padding-bottom: 160px;
}

.site-title a {
    width: 180px;
    line-height: 1px;
    display: block;
}

.page-title {
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 30px;
}



#header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

#navi {
    position: fixed;
    width: 300px;
    padding: 36px 50px;
    top: 0;
    left: -300px;
    opacity: 0;
    color: #FFFFFF;
    transition: all 0.5s;
    z-index: 20;
}

#navi a {
    color: #FFFFFF;
}

#mnavi li {
    margin-bottom: 14px;
}

.open #navi {
    left: 0;
    opacity: 1;
}

.hamburger {
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 20;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 4px;
    background-color: #333333;
    transition: all 0.5s;
    position: absolute;
}

.hamburger span:nth-child(1) {
    top: 10px;
}

.hamburger span:nth-child(2) {
    bottom: 10px;
}

.open .hamburger span {
    background-color: #FFFFFF;
}

.open .hamburger span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
}

.open .hamburger span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
}

#mask {
    display: none;
    transition: all 0.5s;
}

.open #mask {
    width: 100%;
    height: 100%;
    background: #000000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}



#top {
    padding-top: 80px;
    padding-bottom: 160px;
}

.main-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.main-list img {
    margin-bottom: 10px;
    vertical-align: top;
}

.main-list p {
    font-size: 0.75rem;
}

.link-text {
    display: block;
    margin-top: 40px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination li {
    padding: 0 20px;
}



#item {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#item .item-text {
    width: 42%;
}

#item .item-text p {
    margin-bottom: 30px;
    text-align: justify;
}

#item .item-text dl {
    display: flex;
    flex-wrap: wrap;
}

#item .item-text dt {
    width: 30%;
}

#item .item-text dd {
    width: 70%;
}

#item .itemimg {
    width: 50%;
}



#about {
    max-width: 600px;
}

#about p {
    line-height: 1.9;
    margin-bottom: 30px;
}



#company {
    max-width: 600px;
}

#company dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#company dt {
    width: 30%;
    border-bottom: solid 1px #DCDBDB;
    padding: 20px 10px;
}

#company dt:last-of-type {
    border-bottom: none;
}

#company dd {
    width: 70%;
    border-bottom: solid 1px #DCDBDB;
    padding: 20px 10px;
}

#company dd:last-of-type {
    border-bottom: none;
}

#company .map {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#company .map iframe {
    width: 600px;
    height: 300px;
    border: 0;
}



#footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

#footer .footer-list {
    display: flex;
}

#footer .footer-list li {
    font-size: 0.75rem;
    margin-right: 30px;
}

#footer .copyright {
    font-size: 0.625rem;
}



@media screen and (max-width: 900px) {
    .main-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }



    #item {
        flex-direction: column;
    }

    #item .item-text {
        width: 100%;
    }
    
    #item .itemimg {
        width: 100%;
        margin-bottom: 30px;
    }



    #company dl {
        flex-direction: column;
    }

    #company dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 5px;
    }

    #company dd {
        width: 100%;
        padding-top: 5px;
    }



    #footer {
        flex-direction: column;
    }

    #footer .footer-list {
        margin-bottom: 5px;
    }
}